/* Enable view transitions */
@view-transition {
    navigation: auto;
}

/* View Transitions @ root */
::view-transition-old() {
    animation: 0.5s move-out;
}

::view-transition-new() {
    animation: 0.5s move-in;
}

/* Animations */
@keyframes move-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes move-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}