@view-transition {
    navigation: auto;
}

html:active-view-transition-type(east) {
    &::view-transition-old(root) {
        animation: 0.5s move-out-east;
    }

    &::view-transition-new(root) {
        animation: 0.5s move-in-east;
    }
}

html:active-view-transition-type(north) {
    &::view-transition-old(root) {
        animation: 0.5s move-out-north;
    }

    &::view-transition-new(root) {
        animation: 0.5s move-in-north;
    }
}

html:active-view-transition-type(west) {
    &::view-transition-old(root) {
        animation: 0.5s move-out-west;
    }

    &::view-transition-new(root) {
        animation: 0.5s move-in-west;
    }
}

html:active-view-transition-type(south) {
    &::view-transition-old(root) {
        animation: 0.5s move-out-south;
    }

    &::view-transition-new(root) {
        animation: 0.5s move-in-south;
    }
}

@keyframes move-out-east {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes move-in-east {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes move-out-north {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(50%);
    }
}

@keyframes move-in-north {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes move-out-west {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes move-in-west {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(-0%);
    }
}

@keyframes move-out-south {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

@keyframes move-in-south {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

body {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    align-items: center;
    justify-content: center;
    margin: 0;
}

main {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    min-width: 30%;
    min-height: 30%;
}

.origin {
    grid-area: 2 / 2;
}

.east {
    grid-area: 2 / 3;
}

.north {
    grid-area: 1 / 2;
}

.west {
    grid-area: 2 / 1;
}

.south {
    grid-area: 3 / 2;
}

